$black: #000000;
$white: #ffffff;
$green: #00DB65;
$gray: #DCDCDC;
$red: #EF0000;
$blue: #3A78FC;
$yellow: #FFE600;

.black {
  color: $black;
}

.white {
  color: $white;
}

.green {
  color: $green;
}

.gray {
  color: $gray;
}

.red {
  color: $red;
}

.blue {
  color: $blue;
}

.yellow {
  color: $yellow;
}
