.opacity {
  transition: opacity .3s;

  @media(min-width: calc(#{$tablet + 1 + px})) {
    &:hover {
      opacity: .5
    }
  }
}
.el-message-box {
  max-width: 420px;
  width: calc(100% - 20px);
}
.el-message {
  min-width: unset;
  max-width: 380px;
  width: calc(100% - 20px);
}
.el-switch {
  width: max-content;
}
